@model Order

<div asp-validation-summary="All" class="text-danger"></div>

<form asp-action="Create" method="post">
    <div class="form-group">
        <label for="name">New</label>
        <input name="Address" class="form-control" />
        <input type = "date" class="form-control" placeholder="DateTime" name="IssueDate" />
    </div>

    <button type="submit" class="btn btn-primary">Add</button>
</form>
