@model IEnumerable<Order>

<h2>Orders</h2>
<table class="table">
    @foreach (var item in Model)
    {
        <tr>
            <td>@item.Address</td>
            <td>
                <form asp-action="AddToOrder" asp-route-id="@item.Id"> 
                    <button type="submit" class="btn btn-sm btn-danger"> Products</button>
                </form>
            </td>
        </tr>
        
    }
</table>
<a asp-action="Create">Add order</a>
<a asp-action="Products">Product list</a>

